


/*colors*/
$transparent-white: rgba(255, 255, 255, 0.1);
$transparent-black: rgba(0, 0, 0, 0.7);

/*sizes*/
$card-size: 250px;

/*fonts*/
$font-text-box: "Tahoma", sans-serif;
$font-text: "OmnesMedium", sans-serif;